:root {
    --cor-fundo-primario: #212121;
    --cor-fundo-secundario: #2F2F2F;
    --cor-texto-principal: #E7E7E7;
    --roxo: #7C3AED;
    --hover-roxo: #7039cf;
    --hover-menu: #474747;
    --active-menu: #565656;
    --input-border: #888;
    --outline-border-input: #aaaaaa;
    --fonte-principal: 'Quicksand', sans-serif;
    --sair: #990000;
    --step-one-color: #9EC4FF;
    --step-two-color: #F57EB2;
    --step-three-color: #D6A439;
    --step-four-color: #8DEB75;
    --design-category-color: #bf8811;
    --design-category-back: #FDF6E2;
    --design-category-check: #FFE59C;
    --development-category-color: #39A81D;
    --development-category-back: #EBFDE6;
    --development-category-check: #AAF994;
    --marketing-category-color: #E14C8E;
    --marketing-category-back: #FDEDF5;
    --marketing-category-check: #FFADD6;
    --qa-category-color: #123F84;
    --qa-category-back:#E4EBFA ;
    --qa-category-check: #719BF6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-fundo-primario);
    color: var(--cor-texto-principal);
    display: flex;
    height: 100vh;
}

header {
    background-color: var(--cor-fundo-secundario);
    position: fixed;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1em 1.2em 1.5em 1.2em;
}

.logo > h1 {
    color: var(--roxo);
    padding-top: 5px;
    font-size: 1.3em;
}

.logo > img {
    width: 35px;
}

.menu {
    height: calc(100% - 75px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: .8em;
    padding: 18px 0px 18px 23px;
    text-decoration: none;
    color: var(--cor-texto-principal);
    transition: background-color 0.3s, color 0.3s; 
}

.menu a:hover {
    background-color: var(--hover-menu);
}

.menu a:active {
    background-color: var(--active-menu);  
}

.menu img {
    width: 19px;
}

.exit {
    margin-top: auto;
}

.exit:hover {
    color: var(--sair);
}

main {
    flex-grow: 1;
    margin-left: 200px;
}

.content {
    display: flex;
    flex-direction: column;
}

.project-config-header {
    position: fixed;
    padding: 1.4em 1.4em 1em 1.4em;
    background-color: var(--cor-fundo-primario);
    width: calc(100% - 200px);;
}

.project-config {
    display: flex;
    align-items: center;  
    gap: 30px;
    margin-bottom: 10px;
}

.project-name {
    color: var(--roxo);
    font-size: 1.5em;
    margin-bottom: 1em;
}

.filter-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.6em 1.8em;
    background-color: var(--roxo);
    color: var(--cor-texto-principal);
    font-size: .8em;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

.filter-button:hover {
    background-color: var(--hover-roxo);
    cursor: pointer;
}

.filter-button > p {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
} 

.filter-button > img {
    width: 19px;
}

.search {
    /* flex-grow: 1; */
    width: 100%;
    display: flex;
}

.search-tasks-input {
    outline: none;
    border: none;
    font-size: .8em;
    font-weight: 600;
    font-family: "Quicksand";
    padding: 0.7em;
    padding-left: 3.5em;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
    background-image: url("img/search.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 19px;
    width: 100%;
}

.search-tasks-input:focus {
    background-image: none;
    padding: 0.7em 1.2em;
}

.search-tasks-input:focus::placeholder {
    color: transparent;
}

.search-task-button {
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-size: .8em;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    background-color: var(--roxo);
    color: var(--cor-texto-principal);
    padding: 0px 24px;
}

.search-task-button:hover {
    background-color: var(--hover-roxo);
    color: white;
    cursor: pointer;
}

.add-step-button {
    cursor: pointer;
}

section {
    display: flex;
    gap: 30px;
    margin-top: 130px;
    padding-left: 1.4em;
}

.step {
    width: 300px;
}

.step-head {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 0px;
}

.phase {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 5px;
}

.step-number-circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 0.8em;
    padding-top: 1px;
    font-weight: 600;
    color: var(--cor-fundo-primario);
}

.step-number-1-color {
    background-color: var(--step-one-color);
}

.step-number-2-color {
    background-color: var(--step-two-color);
}

.step-number-3-color {
    background-color: var(--step-three-color);
}

.step-number-4-color {
    background-color: var(--step-four-color);
}

.step-name {
    font-size: 1em;
    font-weight: bold;
    color: var(--cor-texto-principal);
    width: 100px;
}

.options-step {
    display: flex;
    gap: 10px;
}

.step-more-img {
    width: 14px;
    margin: 0 5px 0 0;
}

.step-delete-img {
    width: 16px;
}

.step-add-task-img {
    width: 16px;
}

.id-and-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    padding: 1.2em; 
    background-color: var(--cor-fundo-secundario);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#project-id {
    font-size: 0.7em;
    font-weight: 600;
}

.task-name {
    font-size: .8em;
    font-weight: 500;
}

.categorys-task {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.space-category {
    display: inline;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 20px;
    font-size: 0.6em;
    font-family: "Quicksand";
    font-weight: 900;
    margin-bottom: 2px;
}

.desing {
    background-color: var(--design-category-back) ;
    color: var(--design-category-color) ;
}

.desenvolvimento {
    background-color: var(--development-category-back);
    color: var(--development-category-color);
}

.marketing {
    background-color: var(--marketing-category-back);
    color: var(--marketing-category-color);
}

.qa {
    background-color: var(--qa-category-back);
    color: var(--qa-category-color);
} 

.design-checked {
    background-color: var(--design-category-check);
    color: var(--design-category-color);
}

.desenvolvimento-checked {
    background-color: var(--development-category-check);
    color: var(--development-category-color);
}

.marketing-ckecked {
    background-color: var(--marketing-category-check);
    color: var(--marketing-category-color);
}

.qa-checked {
    background-color: var(--qa-category-check);
    color: var(--qa-category-color);
}

.new-task-input {
    font-family: "Quicksand", sans-serif;
    background-color: transparent;
    border: 2px solid var(--input-border);
    color: var(--cor-texto-principal);
    font-size: .8em;
    padding: 10px 16px;
    border-radius: 20px;
}

.new-task-input:focus {
    outline: 1px solid var(--outline-border-input);
}

.new-task-input::placeholder {
    font-family: var(--fonte-principal);
    font-size: 1em;  
    font-weight: 600;
    color: var(--input-border);              
    padding-left: 6px;           
}

.add-category-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    border: none;
    background-color: var(--cor-fundo-primario);
    padding: 0.8em 1.2em;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: .8em;
    color: var(--cor-texto-principal);
    font-weight: 600;
}

.add-category-btn:hover {
    cursor: pointer;
    background-color: #1e1e1e;
}

.add-task-btn {
    background-color: var(--roxo);
    color: var(--cor-texto-principal);
    border: none;
    border-radius: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    padding: .4em 0px;
}

.add-task-btn:hover {
    background-color: var(--hover-roxo);
    color: white;
    cursor: pointer;
}

.list-category-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: none;
    background-color: var(--cor-fundo-primario);
    padding: 0.8em 1.2em;
    border-radius: 20px;
}

.list-category-header {
    display: flex;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
    color: var(--cor-texto-principal);
    font-weight: 600;
}

.list-category-cards {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding-top: .4em;
    padding-bottom: .2em;
    font-size: 1.3em;
    cursor: pointer;
}

.list-category-btn:hover {
    background-color: #1e1e1e;
}


::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

::-webkit-scrollbar-track {
    background: #313131; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: var(--roxo); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--hover-roxo);    
}